<component name="libraryTable">
  <library name="logback-libs">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/LoggingWithLogback/libs/logback-classic-1.4.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/LoggingWithLogback/libs/slf4j-api-2.0.7.jar!/" />
      <root url="jar://$PROJECT_DIR$/LoggingWithLogback/libs/logback-core-1.4.9.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>